body{
    width: 95%;
}

p, li, dt, dd, h3{
    font-size: 1.5rem;
}

h1{
    text-align: center;
}

hr{
    width: 50%;
}

p, h2, h3, dt, dd{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
}



main{
    display: grid;
    grid-template-columns: 35% 65%;
}

h1, h2, h3 :first-letter { text-transform: uppercase; }

.right-side, .left-side{
    width: 100%;
}

.left-side{
    background-color: rgb(121, 175, 175);
    text-align: justify;
    height: fit-content;
    margin-top: 2%;
    position: sticky;
    top: 0%;
}

.right-side{
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

img{
    width: 30%;
    margin-left: 35%;
    margin-top: 4%;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.right-side h2{
    background-color: #282c01;
    color: white;
}

.right-side h3{
    background-color: #d3d5c1;
    color: rgb(0, 0, 0);
}

.date{
    font-size: 1.1rem;
}

dd{
    margin-bottom: 2%;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    main{
        display: block;
    }
    .left-side{
        background-color: rgb(89, 164, 164);
        text-align: justify;
        height:max-content;
        top: 1%;
        position: relative;
        background-color: white;
    }
}